<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team_ingterior.ingterior.defect.mapper.DefectMapper">
    
    <select id="insertDefect" parameterType="insertDefectRequestDTO" resultType="integer">
        INSERT INTO defect(
            defect_id
            ,construction_id
            ,member_id
            ,defect_order
            ,geom
            ,defect_name
            ,description
            ,reg_date
            ,updt_date
            ,status
        )SELECT
            nextval('defect_id_seq')
            ,#{constructionId}
            ,#{memberId}
            ,COALESCE(
                (SELECT MAX(defect_order) FROM defect WHERE construction_id = #{constructionId})
                ,0) + 1 
            ,ST_GEOMFROMTEXT('POINT ('||replace(#{coordinates},',',' ')||')')
            ,#{defectName}
            ,#{description}
            ,now()
            ,null
            ,1
        RETURNING defect_id
    </select>

    <select id="getDefectsByConstructionId" parameterType="integer" resultType="defectsResponseDTO">
        SELECT
            defect_id               AS defectId
            ,st_astext(geom)        AS geomText
            ,defect_order           AS defectOrder
            ,defect_name            AS defectName
            ,member_id              AS memberId
            ,description            AS description
            ,reg_date::timestamp    AS regDate
            ,updt_date::timestamp   AS updtDate
        FROM defect
        WHERE construction_id = #{constructionId}
        AND status = 1
    </select>

    <select id="updateDefect" parameterType="updateDefectRequestDTO">
        UPDATE defect SET
            geom = ST_GEOMFROMTEXT('POINT ('||replace(#{coordinates},',',' ')||')')
            ,defect_name = #{defectName}
            ,description = #{description}
        WHERE defect_id = #{defectId}
        AND status = 1
    </select>

    <select id="deleteDefectByDefectId" parameterType="integer">
        UPDATE defect SET
            status = 0
        WHERE defect_id = #{defectId}
        AND status = 1
    </select>




</mapper>